<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.hallym.hlth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Hlth">
        <activity
                android:name=".MenteeInfoActivity"
                android:exported="false" />
        <activity
                android:name=".MenteeManageActivity"
                android:exported="false" />
        <activity
                android:name=".DiaryActivity"
                android:exported="false" />
        <activity
                android:name=".PINActivity"
                android:exported="false" />
        <activity
                android:name=".SettingActivity"
                android:exported="false" />
        <activity
                android:name=".ApplyMenActivity"
                android:exported="false" />
        <activity
                android:name=".UserInfoActivity"
                android:exported="false" />
        <activity
                android:name=".LoginActivity"
                android:exported="false"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ChatInActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".NotificationActivity"
                android:exported="false" />
        <activity
                android:name=".MainActivity"
                android:exported="false" />
        <activity
                android:name=".StartingActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name=".function.FirebaseMessage"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_app" />
    </application>

</manifest>